@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html{
    box-sizing:border-box;
}
body{
    height:100%;
    margin:0;
    font-family: 'Montserrat', sans-serif;
}

img{
    max-height:450px;
}

.cartimg{
    max-height:150px;
}

.Product-container{
    display:flex;
    flex-wrap: wrap;
}

.Products{
    max-width:30%;
    margin:20px;
    max-width:354px;
    text-align: justify;
}

.Buying{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.product_cart{
    display:flex;
}

.cart{
    min-width:250px;
}